*{
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 200px;
    background-color: #93B5C9;
}

div:first-child{
    height: 400px;
    background-color: #AB2849;
}

aside{
    height: 890px;
    width: 30%;
    margin: 30px 0;
    float: right;    
}

section{
    height: 200px;
    background-color: #AB2849;
    margin: 30px 0;
    width: 70%;
}

footer{
    height: 150px;
    background-color: #AB2849;
    margin: 0 30px 10px 30px;
}